@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background: #f7f7f7;
}


