.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-top: -150px;
    font-size: 4rem;
    font-weight: 700;
    color: #1c1b1b;
    font-family: Inter, sans-serif;
}

